<link rel="stylesheet" href="/css/basic.css">
<link rel="stylesheet" href="/css/trello-comment.css">
<msg-item id="msg-id-1" class="msg-recieved">
    <msg-content>
    <img {{css}}
      data-src="{{datasrc}}" src="/assets/icons/download.svg" >
    </msg-content>
    <msg-info>
        <time>{{time}}</time>
    </msg-info>
</msg-item>
<div class="fx column normal">
  <button class="btn btn-action"> download </button>
  <button class="btn btn-action"> original </button>
  <button data-action="delete" class="btn btn-danger"> delete </button>
</div>
 
